.game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  border: 2px solid #000;
  background-color: #eef;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: rgb(219, 56, 6);
  border: 1px solid rgb(216, 213, 212);
}

.cell.hovered {
    background-color: #aaf;
}

.cell.occupied {
  background-color: #444;
}

.ship.vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.cell.hittedShip{
  background-color: #a5149c;
}
.cell.miss{
  background-color: aqua;
}